::moz-selection {
  color: #EEE;
  background-color: rgba(248, 152, 8, 0.86);
}
::selection {
  color: #EEE;
  background-color: rgba(248, 152, 8, 0.86);
}

body {
  font-size: 16px;
  padding-top: 60px;
}
.err {
  color: red;
}
.starter-template {
  padding: 40px 15px;
  text-align: center
}

.code {
 width: 70%;
 min-width: 770px;
 max-width: 900px;
 font-size: 0.875em;/*14px*/
 border-radius: 7px;
 margin: 3em 0 1em 0;
}

/*==========================================================================
   Footer Styles
   Author Me
  ========================================================================*/
.go-top {
  position: fixed;
  bottom: 0.5em;
  right: 5em;
  text-decoration: none;
  color: #fff;
  text-shadow: -1px -1px 0 #888;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  padding: 1em;
  display: none;
  border-radius: 5px;
}

.go-top:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.6);
}


  .footer {
    /*position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 1.3em;
    padding-left: 1.3em;
    padding-top: 1em;*/
    /* Set the fixed height of the footer here */
    margin-top: 1.7em;
    padding: 1em 1.3em 0 1.3em;
    height: 60px;
    background-color: #f5f5f5;
}
