::moz-selection {
  color: #EEE;
  background-color: rgba(248, 152, 8, 0.86);
}
::selection {
  color: #EEE;
  background-color: rgba(248, 152, 8, 0.86);
}

body {
  padding-top: 60px;
}
.err {
  color: red;
}
.starter-template {
  padding: 40px 15px;
  text-align: center
}

/*==========================================================================
   Footer Styles
   Author Me
  ========================================================================*/

  .footer {
    /*position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 1.3em;
    padding-left: 1.3em;
    padding-top: 1em;*/
    /* Set the fixed height of the footer here */
    margin-top: 1.7em;
    padding: 1em 1.3em 0 1.3em;
    height: 60px;
    background-color: #f5f5f5;
}
